<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WooTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WooTable.Properties.Settings>
            <setting name="StatusBarUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Min" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Max" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Show_Median" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Curr_Provider" serializeAs="String">
                <value>http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml</value>
            </setting>
            <setting name="Curr_Risk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DialogOnMath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="CultureString" serializeAs="String">
                <value />
            </setting>
            <setting name="XLSNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WooTable_OracleData" serializeAs="String">
                <value>WooTable_OracleData</value>
            </setting>
            <setting name="OracleData_Checksums" serializeAs="String">
                <value>checksums.csv</value>
            </setting>
            <setting name="AppDataFolder" serializeAs="String">
                <value>WooTable</value>
            </setting>
            <setting name="AppDataFilesFolder" serializeAs="String">
                <value>Files</value>
            </setting>
            <setting name="OracleDataLocation" serializeAs="String">
                <value>https://sudanec.com/downloads/WooTable_Oracle/_files</value>
            </setting>
            <setting name="UpdateTempFile" serializeAs="String">
                <value>updatecheck.sud</value>
            </setting>
            <setting name="AppDataIconsFolder" serializeAs="String">
                <value>Icons</value>
            </setting>
        </WooTable.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
</configuration>
